.block1{
  text-align: center;

  padding: 30px 33%;
  &__title{
    font-size: 45px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }
  &__text1{
      font-size: 25px;
      color: rgb(176, 190, 197);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    margin-top: 10px;

  }
  &__text2{
    font-size: 15px;
    color: rgb(176, 190, 197);
    line-height: 1.667;
    text-align: center;
    margin-top: 10px;
  }
}
.block2{
  display: flex;
  padding: 0 50px;

}
.card{
  text-align: center;
  &__title{
    font-size: 20px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    line-height: 1.25;
    padding-top: 15px;
  }
  &__text{
    font-size: 15px;
    color: rgb(120, 144, 156);
    line-height: 1.333;
    padding: 15px 10%;
  }
  &__img{
    height: 80px;
  }
}