@import "reset";
@import "header";
@import "main";
@import "font";

.container{
 max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
  //overflow-x: hidden;
}


@import "footer";
@media all and (max-width: 1045px) {
 .content {
  flex-direction: column;
 }

}


@media all and (max-width: 500px) {
 .navigation{
  flex-wrap: wrap;
 }

 .btnTryForFree{
  margin: 10px 0 0 0;
 }
 .content{
  
  .headerTextBlock{
   width: 100%;
  }
 }
 .blockCards{
  flex-direction: column;
 }
 .blockRectangles{
  flex-direction: column;
  .rectangle{
   width: 100%;
  }
 }
}