body{
    padding: 0;
    margin: 0;
}
.wrapper {

    min-width: 550px;
}


.header {
 position: relative;
width: 100%;
    height: 100px;

   z-index: 1;
}



.logo {
    margin-left: 10%;
    float: left;
    margin-top: 10px;
}
.nav {
    float: right;

}

.nav__menu-main {
    list-style: none;
}

.nav__li {
    display: inline-block;
    margin: 0 20px 0px;
    font-family: "Segoe UI";
}

.nav__link {
    text-decoration: none;
    line-height: 38px;
    color: #6c6c6c;
}

.nav__link:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #5094f2;
    transition: width;
}

.nav__link:hover:after,
.nav__link:focus:after {
    width: 100%;
}


.content1-wrap{
    margin: 50px 10%;
}
.content {
    display: flex;
}

.content2-wrap {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right-col {
    padding: 50px 60px 0px;
}

.left_col {
    text-align: center;
    justify-content: center;
}

.card__m-text {
    display: flex;
    margin: 0 35px 0;
}


.card__image{
    align-self: center;
}

.ft_slider__image {
    align-self: center;
    width: 100%;
    height: 100%

}

.right-col .main_text2 {
    line-height: 2.5;
}

h4 {
    color: #5c9bf3;
    font-size: 20pt;
    margin: 15px 0px -15px;
}

p {
    font-family: "Segoe UI";
    color: #6c6c6c;
}

.nav__menu-main {
    list-style: none;
    margin: 40px 50px 0px;
    padding: 0px 0px 20px;
    text-align: center;
    background: white;
    font-size: 20pt;
    font-family: SegoeWPN;
}

.ft_slider {
    position: relative;
}



.nav__li {
    display: inline-block;
}

.ft_slider__btn {
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: #5094f2;
    color: white;
    font-size: 24px;
    font-family: "Segoe UI";
    padding: 7px 8px;
    margin: 0 0 0;
    border: none;
    cursor: pointer;
}

.ft_slider__btn a {
    text-decoration: none;
    background-color: #5094f2;
    color: white;
    font-size: 24px;
    font-family: "Segoe UI";
}

.ft_slider__text {
    font-size: 38pt;
    color: white;
    font-family: "Segoe WP Light";
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
}

.ft_slider__text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24pt;
    color: white;
    font-family: "Segoe WP Light";
    width: 300px;
}

@media (max-width: 1050px) {
    .ft_slider__text {
        top: 22%;
        left: 50%;
        font-size: 24pt;
    }

    .ft_slider__text1 {
        top: 42%;
        left: 50%;
        font-size: 14pt;
    }

    .ft_slider__btn {
        top: 70%;
    }
    .ad-menu{
        position: absolute;
        right: 0%;
    }
    .nav__li {
        width: 50%;
    }

    .nav__menu-main {
        display: none;
    }

    .nav::before,
    .ad-menu::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        cursor: pointer;
        height: 52px;
        width: 68px;
    }

    .nav::before {
        background-image: url(../img/shape.png);
        background-size: 100%;
    }

    .ad-menu::after {
        z-index: 1;
    }

    .nav::before {
        z-index: 2;
    }

    .nav:focus::before {
        z-index: 0;
    }

    .nav:focus .nav__menu-main,
    .nav__menu-main:hover {
        display: block;
        z-index: 0;

    }

    .content {
        flex-direction: column;
    }

    .content2-wrap {
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;

    }

    .left-col {
        left: 50%;
    }

    .right-col {
        padding: 0px 50px 0px;
    }

    .main_text2 {
        margin-top: 0px;
    }


    .card__text {
        text-align: left;
        margin-left: 20px;
    }

    .card__m-text {
        display: inline-block;
        margin: auto;
    }

    .card__title {
        display: inline-block;
    }

    .card__title {
        font-size: 25pt;
    }


    .card {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .left-col__img{
        display: block;
        width: 45%;
        left: 50%;
        margin: 0 auto;

    }

}

.left-col__title {
    font-family: "Segoe WP Light";
    font-size: 30pt;
    color: #6c6c6c;
    text-align: center;
}

.right-col__title {
    font-family: "Segoe WP Light";
    font-size: 23pt;
    color: #6c6c6c;
}

.footer__text {
    text-align: center;
}