body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto ;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 20px 0px;
    font-family: "Segoe UI";
}

nav a {
    text-decoration: none;
    line-height: 38px;
    color: #6c6c6c;
}

nav a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #5094f2;
    transition: width;
}

nav a:hover:after,
nav a:focus:after {
    width: 100%;
}

.logo{
    margin-left:10%;
    float: left;
    margin-top: 10px;
}

.content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.content1{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    margin-right: 12%;
}
.row {
   display: flex;
    width: 85%;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.col1_2{
    padding: 50px 60px 0px;
}

.col1_1{
    text-align: center;
    justify-content: center;
}

.main_text1{
    display: flex;
    margin: 0 35px 0;
}

img{
    align-self: center;
}

.col1_2 .main_text2{
    line-height: 2.5;
}

h4{
    color: #5c9bf3;
    font-size: 20pt;
    margin:  15px 0px -15px;
}

p{
    font-family: "Segoe UI";
    color:#6c6c6c ;
}

.menu-main {
    list-style: none;
    margin: 40px 50px 0px;
    padding: 0px 0px 20px;
    text-align: center;
    background: white;
    font-size: 20pt;
    font-family: SegoeWPN;
}
.ft_slider{
    position: relative;
}

header {
    position: relative;
    z-index: 1;
}

.menu-main li {
    display: inline-block;   }

.btn {
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: #5094f2;
    color: white;
    font-size: 24px;
    font-family: "Segoe UI";
    padding: 7px 8px;
    margin: 0 0 0;
    border: none;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    background-color: #5094f2;
    color: white;
    font-size: 24px;
    font-family: "Segoe UI";
}

.text_on_slider{
    font-size: 38pt;
    color: white;
    font-family: "Segoe WP Light";
    position: absolute;
    top: 37%;
    left: 50%;
    width: 100%;
}

.text_on_slider_1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24pt;
    color: white;
    font-family: "Segoe WP Light";
    width: 300px;
}

@media (max-width: 1050px) {
     .text_on_slider{
         top: 22%;
         left: 50%;
         font-size: 24pt;
     }

     .text_on_slider_1{
         top: 42%;
         left: 50%;
         font-size: 14pt;
     }
     .btn{
         top: 70%;
     }

     .ad-menu li {
         width: 50%;
     }
     .ad-menu ul {
         display: none;
     }
     .ad-menu nav::before,
     .ad-menu::after {
         content: "";
         position: absolute;
         top: 25px;
         right: 20px;
         display: block;
         cursor: pointer;
         height: 52px;
         width: 68px;
     }

     .ad-menu nav::before
    {
         background-image: url(../img/shape.png);
         background-size: 100%;
     }
     .ad-menu::after {
         z-index: 1;
     }
     .ad-menu nav::before {
         z-index: 2;
     }
     .ad-menu nav:focus::before {
        z-index: 0;
     }
     .ad-menu nav:focus ul,
     .ad-menu ul:hover {
         display: block;
         z-index: 0;

     }

    .row{
        flex-direction: column;
    }

    .content1{
      flex-direction: column;
      margin-left: 0%;
      margin-right: 0%;

    }
    .col1_1{
      justify-content: center;

    }
    .col1_2{
      padding: 0px 50px 0px;
    }
    .main_text2{
      margin-top: 0px;
    }
    h3{
      margin-bottom: 0px;
    }

     .text_card{
        text-align: left;
         margin-left: 20px;
     }
    .main_text1{
        display: inline-block;
        margin: auto;
    }

    .title_card{
        display: inline-block;
    }

    .title_card h4{
        font-size: 25pt ;
    }

    .col img{
        width: 30%;
    }
    .col{
        flex-direction: row;
        margin-bottom: 30px;
    }
    .col1_1 img{
        width: 40%;
    }
}

h2{
    font-family: "Segoe WP Light";
    font-size: 30pt;
    color:#6c6c6c ;
}

h3{
    font-family: "Segoe WP Light";
    font-size: 23pt;
    color:#6c6c6c ;
}

footer p{
    text-align: center;
}