.deleteWindow {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 230px;
  height: 120px;
  background-color: #eeeeee;

  &__notice {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
  }

  &__btnYn {
    &:nth-child(2) {
      margin-left: 35px;
    }

    font-weight: 600;
    background-color: inherit;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    color: #0097f4;
    border: none;

    &:hover {
      background-color: #0097f4;
      color: white;
      cursor: pointer;
      transition: .6s;
    }
  }

}
.editWindow {
  position: fixed;
  padding: 0 15px;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 320px;
  height: 240px;
  background-color: #eeeeee;

  &__notice {
    text-align: center;
    margin: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }

  &__newTextTask {
    resize: none;
    width: 100%;
    height: 160px;
    font-size: 16px;
  }

  &__btnCancel {
    background-color: inherit;
    width: 49%;
    height: 30px;
    color: #0097f4;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: #0097f4;
      color: white;
      cursor: pointer;
      transition: .6s;
    }
  }

  &__btnSave {
    background-color: inherit;
    width: 49%;
    height: 30px;
    color: #0097f4;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: #0097f4;
      color: white;
      cursor: pointer;
      transition: .6s;
    }
  }

}