* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}

.tasks {
  margin: 5px 0;
}

.todoList {
  width: 100%;
  padding: 10px;

  &__title {
    text-align: center;
    font-size: 20px;

    margin: 20px;
  }

  &__addTask {
    display: flex;
    padding: 10px;
  }

  &__taskText {
    margin-left: 160px;
    height: 35px;
    width: 680px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    outline: none;
  }

  &__btnAdd {
    background-color: #0097f4;
    width: 150px;
    height: 35px;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: auto;
  }

  &__sort {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }

  &__find {

    height: 35px;
    width: 630px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #9c9c9c;
    outline: none;
    background-image: url(../img/searchicon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
background-size: 20px 20px;



    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;




  }

  &__searchWrap {
    //&:after {
    //  display: block;
    //
    //
    //  content: "";
    //  // background-image: url("../img/searchicon.png");
    //  //background-color: red;
    //
    //  width: 40px;
    //  height: 40px;
    //}
  }

  &__sortPriority {
    width: 30px;
    margin-right: 10px;
  }

  &__sortDate {
    width: 30px;
    margin: 0 45px;
  }

}


.task {
  display: flex;
  flex-direction: row;
  padding: 15px;

  &__info {
    padding: 0 10px;
  }

  &__importance {
    background-color: #717171;
    margin-top: 6px;
    width: 50px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    color: white;
    text-align: center;
    margin-right: 10px;
  }

  &__date {
    font-size: 20px;
  }

  &__time {
    text-align: center;
  }

  &__text {
    padding: 15px;
    margin: auto;
    word-wrap: break-word;
    max-width: 630px;
    width: 100%;
    word-break: break-all;
    background-color: #eeeeee;
  }

  img {
    width: 35px;
    height: auto;
    margin: 5px;
  }

  &__buttons {
    height: max-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
  }

}

.task-complete {
  .task__text {
    background-color: #d1eef4;
  }

  .task__btnCheck {
    opacity: 0.4;
  }
}

.task-empty {
  display: none;
}

.deleteWindow {
  position: fixed;

  z-index: 10;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 230px;
  height: 120px;
  background-color: #eeeeee;

  &__notice {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
  }

  &__btnYn {
    &:nth-child(2) {
      margin-left: 35px;
    }

    font-weight: 600;
    background-color: inherit;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    color: #0097f4;
    border: none;

    &:hover {
      background-color: #0097f4;
      color: white;
    }
  }

}

.editWindow {
  position: fixed;

  padding: 0 15px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 240px;
  background-color: #eeeeee;

  &__notice {
    text-align: center;
    margin: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }

  &__newTextTask {
    resize: none;
    width: 100%;
    height: 160px;
    font-size: 16px;
  }

  &__btnCancel {
    background-color: inherit;
    width: 49%;
    height: 30px;
    color: #0097f4;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: #0097f4;
      color: white;
    }
  }

  &__btnSave {
    background-color: inherit;
    width: 49%;
    height: 30px;
    color: #0097f4;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: #0097f4;
      color: white;
    }
  }

}