@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../img/bg.png");
  position: relative;
  background-size: cover; }

.nav {
  text-align: center; }
  .nav__mainMenu {
    list-style: none; }
  .nav__li {
    display: inline-block;
    margin: 0 20px 0px; }
  .nav__link {
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    text-decoration: none; }
  .nav__link {
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    text-decoration: none; }
    .nav__link:hover {
      color: #061e37;
      -webkit-transition: 0.6s;
      transition: 0.6s; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 160px 0; }

.headerTextBlock {
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .headerTextBlock__title {
    font-size: 38pt;
    color: white;
    text-transform: uppercase;
    line-height: 1.182;
    text-align: left;
    margin-right: 25%; }
  .headerTextBlock__text {
    font-size: 12pt;
    color: white;
    line-height: 1.944;
    text-align: left;
    font-weight: 400; }

.button {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border: none; }
  .button-green {
    background-color: #1de9b6; }
  .button:hover {
    -webkit-transition: .8s;
    transition: .8s;
    cursor: pointer;
    color: white;
    background-color: #061e37; }

.button-blue {
  background-color: #061e37; }
  .button-blue:hover {
    background-color: white;
    color: #061e37; }

.signUpBtn {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  width: 78px;
  height: 23px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0);
  color: white;
  text-align: center; }
  .signUpBtn:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.7s;
    transition: 0.7s; }

.buttons {
  margin-top: 20px;
  margin-bottom: 20px; }

.btnBuyNow {
  color: #061e37;
  background-color: white;
  width: 160px;
  height: 55px; }

.btnTryForFree {
  color: #061e37;
  background-color: white;
  margin-left: 25px;
  width: 160px;
  height: 55px; }

.videoWrap {
  position: relative;
  height: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content; }
  .videoWrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .videoWrap img:hover {
      cursor: pointer; }

.videoPlayer__bgPlayer {
  width: 100%;
  height: auto; }

.textBlock {
  text-align: center;
  padding: 100px 0; }
  .textBlock__text1 {
    font-size: 25px;
    color: #b0bec5;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px; }
  .textBlock__text2 {
    padding: 10px 0;
    max-width: 560px;
    margin: 0 auto; }

.title {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.blockCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  text-align: center;
  overflow: hidden;
  max-width: 350px; }
  .card__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    padding-top: 15px; }
  .card__text {
    font-size: 15px;
    color: #78909c;
    line-height: 1.5;
    padding: 15px 0; }
  .card__img {
    height: 80px; }

.blockButton {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 80px auto; }

.btnGetStarted {
  width: 160px;
  height: 55px;
  font-weight: 600;
  color: white; }

.blockRectangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 25%; }
  .rectangle__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
  .rectangle__text {
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin-left: 20px; }

.rectangle1 {
  background-color: #80d8ff; }

.rectangle2 {
  background-color: #82b1ff; }

.rectangle3 {
  background-color: #b388ff; }

.rectangle4 {
  background-color: #ea80fc; }

.blockServices {
  padding: 100px 0; }
  .blockServices__text {
    max-width: 555px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto; }

.dropDownList {
  margin: 0 auto;
  max-width: 800px; }

.item {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  margin-bottom: 7px;
  overflow: hidden; }
  .item:before {
    display: block;
    content: "";
    float: right;
    width: 11px;
    height: 6px;
    margin-top: 10px;
    background-image: url("../img/arrow_drop_down.png"); }
  .item__content {
    padding-top: 15px;
    display: none; }
  .item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .item__textTitle {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px; }
  .item__text {
    text-align: left;
    margin-left: 25px;
    font-weight: 600; }
  .item-active .item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .item__title:hover {
    cursor: pointer; }

.blockComments {
  background-image: url("../img/bg1.png");
  background-size: cover;
  padding: 80px 60px; }
  .blockComments .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 auto; }

.aboutComments {
  max-width: 505px;
  -ms-flex-item-align: center;
      align-self: center; }
  .aboutComments__title {
    font-size: 32pt;
    color: white;
    font-weight: 400;
    line-height: 1.2; }
  .aboutComments__text {
    font-size: 15px;
    color: white;
    line-height: 1.667;
    margin: 15px 0 80px 0;
    font-weight: 500; }

.comments {
  max-width: 750px;
  margin-left: auto; }
  .comments:hover:before {
    cursor: pointer; }
  .comments:hover:after {
    cursor: pointer; }

.slick-prev,
.slick-next {
  -webkit-transform: translate(-50%, 0) rotate(90deg);
  transform: translate(-50%, 0) rotate(90deg);
  left: 50%; }

.slick-prev {
  top: -10px; }

.slick-next {
  top: auto;
  bottom: -20px; }

.slick-vertical .slick-arrow {
  width: 24px;
  display: block;
  margin-left: 58%;
  cursor: pointer; }

.comment {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .comment__avatar {
    margin-right: 25px; }
  .comment__body {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 25px 25px; }
  .comment__author {
    margin-bottom: 10px; }
  .comment:last-child {
    padding-bottom: 0; }

.blockOurTeam {
  padding: 80px 60px;
  text-align: center; }
  .blockOurTeam__text {
    max-width: 500px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto; }
  .blockOurTeam .avatars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0 30px 0; }

.teamMember {
  margin: 0 10px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0.4;
  width: 160px;
  height: auto; }
  .teamMember .teamMember__img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 160px; }
  .teamMember-active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 20px -1px black;
            box-shadow: 0px 0px 20px -1px black;
    border-radius: 50%; }

.memberInfo {
  display: none; }
  .memberInfo__author {
    text-align: center;
    padding-bottom: 10px; }
  .memberInfo__text {
    text-align: center;
    margin: 0 auto 20px;
    max-width: 645px; }

.memberInfo-active {
  display: block; }

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto; }
  .socialLinks__link {
    text-decoration: none;
    margin: 0 15px;
    width: 18px;
    height: 18px;
    color: #90a4ae;
    font-size: 20px;
    font-weight: 400; }
    .socialLinks__link:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
      -webkit-transition: -webkit-transform .6s;
      transition: -webkit-transform .6s;
      transition: transform .6s;
      transition: transform .6s, -webkit-transform .6s;
      color: #1eb9b6; }

.blockContactUs {
  background-color: #fafafa;
  padding: 80px 60px; }
  .blockContactUs__text {
    margin: 10px auto 30px;
    max-width: 555px;
    text-align: center;
    color: #061e37;
    font-weight: 500; }

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fafafa; }
  .contactUs__input {
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #061e37;
    padding-left: 20px;
    margin-top: 20px;
    min-width: 43%;
    outline: none; }
    .contactUs__input:nth-child(odd) {
      margin-right: 40px; }
    .contactUs__input:focus {
      border: inset 1px #1de9b6;
      /* Параметры рамки */ }
  .contactUs__message {
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    height: 130px;
    border-radius: 5px;
    border: solid 1px #061e37;
    margin: 20px 0;
    resize: none;
    outline: none; }
    .contactUs__message:focus {
      border: inset 1px #1de9b6;
      /* Параметры рамки */ }
  .contactUs__btnSend {
    width: 130px;
    height: 50px;
    color: white;
    margin-left: auto; }
  .contactUs__checkbox {
    -webkit-box-shadow: 0 0 0 1px black inset;
            box-shadow: 0 0 0 1px black inset;
    margin-top: 15px; }
  .contactUs__checkboxLabel {
    color: #061e37;
    font-size: 16px;
    font-weight: 500;
    margin: 11px 10px 0px; }

.font {
  font-family: 'Raleway', sans-serif; }

.text {
  font-size: 15px;
  color: #b0bec5;
  line-height: 1.667; }

.titleColor {
  color: #061e37; }

.commentAuthor {
  font-size: 18px;
  font-weight: bold; }

.commentText {
  color: #78909c;
  font-size: 15px;
  line-height: 1.667; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
  overflow-x: hidden; }

footer {
  background-color: #061e37; }

.footerNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0; }
  .footerNavigation .nav__link:hover {
    color: white; }

.footerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0; }

.contacts {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 400; }
  .contacts__item {
    display: inline-block; }
    .contacts__item a {
      text-decoration: none;
      color: #ffffff; }
    .contacts__item:after {
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 2px 20px; }
    .contacts__item:last-child:after {
      display: none; }

.footerLinks {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media all and (max-width: 1045px) {
  .content .headerTextBlock {
    width: 100%; }

  .btnTryForFree {
    margin: 10px 0 0 0; }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .blockComments .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blockComments .comments {
    width: 100%; }

  .footerContacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .footerLogo {
    margin: 10px 0; }

  .police {
    text-align: center; }

  .videoWrap {
    margin: 0 auto; } }
@media all and (max-width: 545px) {
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .avatars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .blockCards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .videoWrap {
    width: 100%; }
    .videoWrap video {
      width: 100%; }

  .blockCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .blockRectangles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .blockRectangles .rectangle {
      width: 100%; }

  .footerNavigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .item__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .item__img {
    margin: 0 auto; }

  .footerLinks {
    margin: 10px auto; } }

/*# sourceMappingURL=style.css.map */