@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../img/bg.png");
  position: relative;
  background-size: cover;
  padding: 30px 60px; }

.nav {
  text-align: center; }
  .nav__mainMenu {
    list-style: none; }
  .nav__li {
    display: inline-block;
    margin: 0 20px 0px; }
  .nav__link {
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    text-decoration: none; }
  .nav__link {
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    text-decoration: none; }
    .nav__link:hover {
      color: #061e37;
      -webkit-transition: 0.6s;
      transition: 0.6s; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0; }

.textBlock {
  width: 45%; }
  .textBlock__title {
    font-size: 38pt;
    color: white;
    text-transform: uppercase;
    line-height: 1.182;
    text-align: left;
    margin-right: 25%; }
  .textBlock__text {
    font-size: 12pt;
    color: white;
    line-height: 1.944;
    text-align: left;
    font-weight: 400; }

.button {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border: none; }
  .button-green {
    background-color: #1de9b6; }
  .button:hover {
    -webkit-transition: .8s;
    transition: .8s;
    cursor: pointer;
    color: white;
    background-color: #061e37; }

.button-blue {
  background-color: #061e37; }
  .button-blue:hover {
    background-color: white;
    color: #061e37; }

.signUpBtn {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  width: 78px;
  height: 23px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0);
  color: white;
  text-align: center; }
  .signUpBtn:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.7s;
    transition: 0.7s; }

.buttons {
  margin-top: 20px; }

.btnBuyNow {
  color: #061e37;
  background-color: white;
  width: 160px;
  height: 55px; }

.btnTryForFree {
  color: #061e37;
  background-color: white;
  margin-left: 25px;
  width: 160px;
  height: 55px; }

.videoWrap {
  position: relative;
  height: 100%; }
  .videoWrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .videoWrap img:hover {
      cursor: pointer; }

.videoPlayer {
  -o-object-fit: none;
     object-fit: none;
  border-radius: 3px;
  border: solid 1px #061e37;
  position: relative; }
  .videoPlayer__bgPlayer {
    width: 100%;
    height: auto; }

.block1 {
  text-align: center;
  padding: 80px 60px; }
  .block1__text1 {
    font-size: 25px;
    color: #b0bec5;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px; }
  .block1__text2 {
    padding: 10px 30%; }

.title {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
  margin-top: 30px; }

.card {
  text-align: center;
  overflow: hidden; }
  .card__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    padding-top: 15px; }
  .card__text {
    font-size: 15px;
    color: #78909c;
    line-height: 1.5;
    padding: 15px 10%; }
  .card__img {
    height: 80px; }

.block3 {
  margin: 70px 0px; }

.btnGetStarted {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 55px;
  font-weight: 600;
  color: white; }

.block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 25%; }
  .rectangle__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
  .rectangle__text {
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin-left: 20px; }

.rectangle1 {
  background-color: #80d8ff; }

.rectangle2 {
  background-color: #82b1ff; }

.rectangle3 {
  background-color: #b388ff; }

.rectangle4 {
  background-color: #ea80fc; }

.block5 {
  padding: 80px 60px; }
  .block5__text {
    margin: 0 30%;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center; }

.dropDownList {
  margin: 0 auto;
  max-width: 50%; }

.item {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  margin-bottom: 7px;
  overflow: hidden; }
  .item:before {
    display: block;
    content: "";
    float: right;
    width: 11px;
    height: 6px;
    margin-top: 10px;
    background-image: url("../img/arrow_drop_down.png"); }
  .item__content {
    padding-top: 15px;
    display: none; }
  .item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .item__textTitle {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px; }
  .item__text {
    text-align: left;
    margin-left: 25px;
    font-weight: 600; }
  .item-active .item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .item__title:hover {
    cursor: pointer; }

.block6 {
  background-image: url("../img/bg1.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 60px; }
  .block6 .btnGetStarted {
    margin: 50px 0 0 0; }

.aboutComments {
  max-width: 505px; }
  .aboutComments__title {
    font-size: 32pt;
    color: white;
    font-weight: 400;
    line-height: 1.2; }
  .aboutComments__text {
    font-size: 15px;
    color: white;
    line-height: 1.667;
    margin: 15px 0;
    font-weight: 500; }

.comments {
  width: 50%;
  margin-left: auto; }
  .comments::before {
    display: block;
    content: "";
    background-image: url("../img/keyboard_arrow_up.png");
    width: 23px;
    height: 14px;
    margin-left: 55%;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); }
  .comments::after {
    display: block;
    content: "";
    background-image: url("../img/keyboard_arrow_down.png");
    width: 23px;
    height: 14px;
    margin-left: 55%;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  .comments:hover:before {
    cursor: pointer; }
  .comments:hover:after {
    cursor: pointer; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .comment:last-child {
    padding-bottom: 0px; }
  .comment__avatar {
    margin-right: 25px; }
  .comment__body {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 25px 25px; }
  .comment__author {
    margin-bottom: 10px; }

.block7 {
  padding: 80px 60px; }
  .block7__text {
    margin: 0 30%;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center; }
  .block7 .avatars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0 30px 0; }
    .block7 .avatars__avatar {
      margin: 0 10px;
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      opacity: 0.4;
      width: 160px;
      height: 160px; }
      .block7 .avatars__avatar img {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 160px; }
      .block7 .avatars__avatar-active {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
        -webkit-box-shadow: 0px 0px 20px -1px black;
                box-shadow: 0px 0px 20px -1px black;
        border-radius: 50%; }
  .block7 .team__author {
    text-align: center;
    padding-bottom: 10px; }
  .block7 .team__text {
    text-align: center;
    margin: 0 20% 20px; }

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto; }
  .socialLinks__link {
    text-decoration: none;
    padding-right: 30px;
    width: 18px;
    height: 18px;
    color: #90a4ae;
    font-size: 20px;
    font-weight: 400; }

.block8 {
  background-color: #fafafa;
  padding: 80px 60px; }
  .block8__text {
    padding: 10px 25% 30px;
    text-align: center;
    color: #061e37;
    font-weight: 500; }

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fafafa; }
  .contactUs__input {
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #061e37;
    padding-left: 20px;
    margin-top: 20px;
    min-width: 43%;
    outline: none; }
    .contactUs__input:nth-child(odd) {
      margin-right: 40px; }
    .contactUs__input:focus {
      border: inset 1px #1de9b6;
      /* Параметры рамки */ }
  .contactUs__message {
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    height: 130px;
    border-radius: 5px;
    border: solid 1px #061e37;
    margin: 20px 0;
    resize: none; }
  .contactUs__btnSend {
    width: 130px;
    height: 50px;
    color: white;
    margin-left: auto; }
  .contactUs__checkbox {
    -webkit-box-shadow: 0 0 0 1px black inset;
            box-shadow: 0 0 0 1px black inset;
    margin-top: 15px; }
  .contactUs__checkboxLabel {
    color: #061e37;
    font-size: 16px;
    font-weight: 500;
    margin: 11px 10px 0px; }

.font {
  font-family: 'Raleway', sans-serif; }

.text {
  font-size: 15px;
  color: #b0bec5;
  line-height: 1.667; }

.titleColor {
  color: #061e37; }

.commentAuthor {
  font-size: 18px;
  font-weight: bold; }

.commentText {
  color: #78909c;
  font-size: 15px;
  line-height: 1.667; }

.wrapper {
  margin: 0 auto;
  overflow-x: hidden; }

footer {
  background-color: #061e37;
  padding: 80px 60px; }
  footer .socialLinks {
    margin: 0; }

.footerNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px; }
  .footerNavigation .nav__link:hover {
    color: white; }

.footerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 400; }
  .footerContacts__item {
    display: inline-block; }
    .footerContacts__item a {
      text-decoration: none;
      color: #ffffff; }
    .footerContacts__item:after {
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 2px 20px; }
    .footerContacts__item:last-child:after {
      display: none; }

/*# sourceMappingURL=style.css.map */